<% layout('/layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Edit Artwork</h1>
        <div class="col-6 offset-3">
            <form action="/artwork/<%=artwork._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="artwork[title]" value="<%=artwork.title%>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="artwork[year]" value="<%=artwork.year%>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="artwork[image]" value="<%=artwork.image%>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
        </div>
        <button class="btn btn-danger">Delete</button>
        <div class="mb-3">
            <button class="btn btn-info">Update artwork</button>
        </div>
        </form>
        <a href="/artwork/<%=artwork._id%>">Back to artwork</a>
    </div>
    </div>