<% layout('/layouts/boilerplate')%>
<title>Artwork | MAG</title>
    <h1 class="text-center mb-2">Artwork</h1>
    <% if(currentUser) {%>
    <div> 
        <a class="mb-3 btn btn-outline-secondary" href="/artwork/new">Add Artwork</a>
    </div>
    <% } %> 
<% for(let artwork of artworks) {%>

    <div class="row">

        <div class="col-lg-4">
            <a class="stretched-link bs-dark " href="/artwork/<%=artwork._id %>" style="text-decoration: none; color: black">
            <div class="card mt-2 mb-2">
                        <% if(artwork.image.length) {%>
                            <img class="img-fluid" style="width: 100%; height: 35vw; object-fit: cover;" alt="" src="<%= artwork.image[Math.floor(Math.random() * artwork.image.length)].url %>">                      
                            <% }else {%>  
                                <img class="img-fluid" alt="" src="https://res.cloudinary.com/dz0twneew/image/upload/v1677520537/ArtPortfolio/0132DE6C-E8B4-4EE5-923E-D91D945E51F1_1_105_c_k4ygew.jpg">
                                <% } %>
                            
                                <!-- Title -->
                                <div class="col-md-5">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                          <%= artwork.title%>
                                         </h5>
                    
                                    <!-- Year -->
                                            <p class="card-text"><%= artwork.year %></p>
                                            
                                                <!-- Artist -->
                                                <p class="card-text"><%= artwork.artist %></p>
                    
                                                 </a>
                                             </p>
                                         </div>
                                     </div>                            
        </div>
            </div>
            
            <div class="col-lg-4">
                <a class="stretched-link bs-dark " href="/artwork/<%= artwork._id %>" style="text-decoration: none; color: black">
                <div class="card mt-2 mb-2">
                             <% if(artwork.image.length) {%>
                                     <img class="img-fluid" style="width: 100%; height: 35vw; object-fit: cover;" alt="" src="<%= artwork.image[Math.floor(Math.random() * artwork.image.length)].url %>">                      
                                <% }else {%>  
                                    <img class="img-fluid" alt="" src="https://res.cloudinary.com/dz0twneew/image/upload/v1677520537/ArtPortfolio/0132DE6C-E8B4-4EE5-923E-D91D945E51F1_1_105_c_k4ygew.jpg">
                                    <% } %> 
    
                                    <!-- Title -->
                                    <div class="col-md-4">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                              <%= artwork.title%>
                                             </h5>
                        
                                        <!-- Year -->
                                                <p class="card-text"><%= artwork.year %></p>
    
                                                    <!-- Artist -->
                                                    <p class="card-text"><%= artwork.artist %></p>
    
                                                    </a>
                                                 </p>
                                             </div>
                                         </div>
        </div>
              </div>

              <div class="col-lg-4">
                <a class="stretched-link bs-dark " href="/artwork/<%= artwork._id %>" style="text-decoration: none; color: black">
                <div class="card mt-2 mb-2">
                             <% if(artwork.image.length) {%>
                                     <img class="img-fluid" style="width: 100%; height: 35vw; object-fit: cover;" alt="" src="<%= artwork.image[Math.floor(Math.random() * artwork.image.length)].url %>">                      
                                <% }else {%>  
                                    <img class="img-fluid" alt="" src="https://res.cloudinary.com/dz0twneew/image/upload/v1677520537/ArtPortfolio/0132DE6C-E8B4-4EE5-923E-D91D945E51F1_1_105_c_k4ygew.jpg">
                                    <% } %> 
    
                                    <!-- Title -->
                                    <div class="col-md-4">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                              <%= artwork.title %>
                                             </h5>
                        
                                        <!-- Year -->
                                                <p class="card-text"><%= artwork.year %></p>
    
                                                    <!-- Artist -->
                                                    <p class="card-text"><%= artwork.artist %></p>
    
                                                    </a>
                                                 </p>
                                             </div>
                                         </div>
        </div>
              </div>
    
</div>
    
        <% } %> 